// margin between elements
$margin: 0.5rem;

.big-post-card {
  display: flex;
  flex-direction: column;
}

.big-post-card .info {
  h4,
  .description {
    margin-bottom: $margin;
    @include line-clamp(2);
  }
}

.big-post-card .info .metadata {
  display: flex;
  align-items: center;

  div {
    margin-left: $margin;

    div:last-of-type {
      margin-top: 0.25em;

      .space {
        margin: auto $margin;
      }
    }
  }
}
