.rounded-btn {
  width: 100%;
  padding: 0.875rem 2rem 0.813rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--accent);
  border: none;
  border-radius: 35px;
  outline: none;

  @include button-text-bold(var(--primary));
  font-size: 17px;
}

.sign-up-with-google-btn {
  border: none;
  border-radius: 4px;
  padding: 0.625rem 1rem;
  background-color: var(--accent);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 1rem;
  }

  font-size: 17px;
  font-weight: 700;
  font-family: var(--font-head);
  line-height: 140%;
  letter-spacing: 0.04em;
  color: var(--primary);
}

.simple-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--accent);
  color: var(--primary);
  padding: 0.625rem 1rem;
  width: 94px;
  font-weight: 700;
  font-family: var(--font-head);
  line-height: 140%;
  letter-spacing: 0.04em;
  font-size: 17px;
}

.icon-btn {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--primary);
  border: none;
  outline: none;

  // width: 204px;
  width: fit-content;
  font-weight: 700;
  font-family: var(--font-head);
  line-height: 140%;
  letter-spacing: 0.04em;
  font-size: 17px;

  display: flex;
  flex-direction: row;

  svg {
    margin-right: 0.625rem;
  }
}
