.admin .banner {
  position: relative;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }

  h1,
  .status {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .status {
    margin-bottom: 1rem;
  }
}

.admin .author-info {
  margin-top: 1rem;
  display: flex;

  img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 1rem;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;

    .name {
      @include post-title-text($color: var(--heading));
      margin-bottom: 0.5rem;
    }

    .status {
      @include caption-text;
    }
  }

  button {
    padding: 0.8rem 2rem;
    height: fit-content;
    border-radius: 36px;
    background-color: var(--light-blue);
    color: var(--accent);
    font-family: var(--font-head);
    font-weight: 400;

    &.following {
      background-color: var(--card-bg-1);
      color: var(--body-text-1);
    }
  }
}

.admin .postlist-and-aside {
  margin-top: 2rem;

  .postlist {
    .heading {
      @include button-text-bold;
    }
  }
}
