.authors-to-follow .heading {
  @include medium-text;
  letter-spacing: 4%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.authors-to-follow .follow-author-card {
  display: flex;
  margin-bottom: 1rem;

  img {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    margin-right: 1rem;
  }

  .info {
    .name {
      @include post-title-text($color: var(--heading));
    }

    .status {
      @include caption-text;
    }

    .name,
    .status {
      @include line-clamp(1);
      margin-bottom: 0.5rem;
    }

    button {
      padding: 0.8rem 1rem;
      border-radius: 36px;
      background-color: var(--light-blue);
      color: var(--accent);
      font-family: var(--font-head);
      font-weight: 400;

      &.following {
        background-color: var(--card-bg-1);
        color: var(--body-text-1);
      }
    }
  }
}
