// .postlist-and-aside {
//   display: flex;

//   aside {
//     width: 400px;
//     margin-left: 1rem;
//   }

//   .posts-listview {
//     width: auto;
//   }

//   @media only screen and (max-width: 900px) {
//     flex-direction: column;

//     aside {
//       width: auto;
//       margin-left: 0;
//     }
//   }
// }

.postlist-and-aside {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1.5rem;
}

.top-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}
