.small-post-card .cover {
  position: relative;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .read-time {
    position: absolute;
    right: 0;
    bottom: 0;

    margin: 0.25em;
    border-radius: 0.5px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.25em;

    color: white;
    font-size: 13px;
    font-family: var(--font-body);
  }
}

.small-post-card .info {
  .heading {
    @include post-title-text;
    @include line-clamp(1);
  }

  .metadata {
    display: flex;
    align-items: center;
  }
}
